*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;      
}
.mainbox{
    background: url(wp1810973.jpg);
    height: 100vh;
    background-size: cover;
}
.button1 i{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    transition: all .3s linear;
}
.sidebar_menu{
    position: fixed;
    left: -300px ;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all .3s linear;
}
.sidebar_menu .logo{
    position:absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
    height: 60px;
}
.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}
.sidebar_menu .button2 i{
    color: grey;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 275px;
    opacity: 0;
    cursor: pointer;
    transition: all .3s linear;
}
.sidebar_menu .menu {
    position: absolute;
    width: 100%;
    top: 80px;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 10px 20px;
}
.sidebar_menu .menu i a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu i{
    padding-right: 8px;
}
.sidebar_menu .social_media{
    position: absolute;
    left: 25%;
    bottom: 40px;
}
.sidebar_menu .social_media i{
    color: white;
    opacity: 0.6;
    padding: 0 5px;
}
#check{
    display: none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.button1 i:hover{
font-size: 40px;
}
.button2 i:hover{
    font-size: 30px; 
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.3);
}
#check:checked ~ .sidebar_menu{
    left: 0;
}
#check:checked ~.button1 i{
    opacity: 0;
}
#check:checked ~ .sidebar_menu .button2 i{
    opacity: 1;
}
